body {
  font-family: Pacifico, cursive;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}


