body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #222;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 10px;
}
